.git
.github
.runtime
.pytest_cache
pytest-cache-files-*

**/__pycache__
**/*.pyc
**/.pytest_cache

**/node_modules
**/dist
**/.vite

**/.env
**/.env.*
!**/.env.example
!infra/environments/*.env.example
