# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
pytest-cache-files-*/

# Node
node_modules/
dist/
.next/
out/
build/

# IDE
.idea/
.vscode/

# Env
.env
.env.local
.env.*
!.env.example
apps/**/.env
apps/**/.env.local
infra/environments/*.env
infra/environments/*.secrets.env
!infra/environments/*.env.example

# Runtime generated
.runtime/
